#root {
  display: flex;
  width: 100%;
  height: 600px;
}
.list {
  list-style: none;
  padding: 0;
}
.elem {
  width: 60%;
  height: 100%;
  background-color: tomato;
}
.item {
  width: 40%;
  height: 100%;
  background-color: rgb(38, 139, 134);
}
.edit {
  margin-left: auto;
  margin-right: 10px;
}
.list li {
  display: flex;
}
.delete {
  margin-right: 10px;
}
